* {
  margin: 0;
  padding: 0;
}

:root {
  --nav-bg-color: #ffd502;
  --main-head-foot-color: #e4e5eb;
  --dream-bg-color: #00a3da;
  --footer-bg-color: #201d48;
  --font-family-primary: "Cera Pro", sans-serif;
  --font-size-base: 1rem;
  --font-size-title-1: 2rem;
  --font-size-title-2: 1.25rem;
  --font-size-title-3: 1.125rem;
  --font-size-small: 0.875rem;
  --font-size-smaller: 0.75rem;
  --font-weight-normal: 400;
  --font-weight-heavy: 500;
  --navbar-top-bgcolor: #f8f8f8;
  --navbar-bottom-bgcolor: #ffd502;
  --week-top-picks-bgcolor: #e4e5eb;
  --dreamz-bgcolor: #4aa0d6;
  --spotlight-bgcolor: #e4e5eb;
  --welcometo-bgcolor: #f2f2f2;
  --footer-bgcolor: #201d48;
  --black-button-text-color: #000000;
  --area-giochi-bgcolor: #abd9ff;
  --area-giochi-bgcolor-hover: #ffffff;
  --holiday-color: #d0021b;
  --promo-bgcolor: #ffffff;
  --promo-bgcolor-hover: #000000;
  --buy-now-bgcolor: #005ad2;
  --add-cart-bgcolor: #e96f14;
  --add-cart-bgcolor-hover: #ffffff;
  --dreamz-bgcolor: #00a3da;
  --dreamz-bgcolor-hover: #021c47;
  --see-all-bgcolor: #00a3da;
  --see-all-bgcolor-hover: #5b5c5e;
  --explore-bgcolor: #00000099;
  --explore-bgcolor-hover: #000000ab;
  --see-all-articles-bgcolor: #e4e5ec;
  --see-all-articles-bgcolor-hover: #000000ab;
  --button-border-radius-light: 3px;
  --button-border-radius-heavy: 4px;
  --button-padding-small: 5px 20px;
  --button-padding-mid: 10px 18px;
  --button-padding-big: 15px;
  --button-padding-allArticles: 8px 16px;
}

.section-in-evidenza {
  background-color: var(--week-top-picks-bgcolor);
  margin: 0 auto;
  max-width: 100rem;
}

.spotlight {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  align-items: center;
}

.spotlight h3 {
  font-family: var(--font-family-primary);
  font-size: 2rem;
  line-height: 2.6875;
  font-weight: 400;
}

.undicesimo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 62.4375rem;
  border: 2px solid var(--see-all-bgcolor-hover);
  cursor: pointer;
  background-color: var(--see-all-articles-bgcolor);
  color: var(--black-button-text-color);
  padding: var(--button-padding-allArticles);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5rem;
  width: max-content;
  letter-spacing: 0px;
  box-sizing: border-box;
}
.undicesimo:hover {
  background-color: var(--see-all-articles-bgcolor-hover);
  color: #ffffff;
  text-decoration: underline;
}
.undicesimo svg {
  width: 18px;
  height: 13px;
  margin-left: 12px;
}

.contenitore-griglia-visualizza-articoli {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 20px;
  justify-content: center;
  gap: 10px;
}

.griglia-visualizza-articoli {
  width: 305px;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
}

.griglia-visualizza-articoli img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.griglia-visualizza-articoli h2 {
  font-family: var(--font-family-primary);
  font-size: 1.25rem;
  line-height: 1.9375;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 15px;
}

.griglia-visualizza-articoli p {
  font-family: var(--font-family-primary);
  word-wrap: break-word;
  margin-bottom: 15px;
  font-size: 0.875rem;
  line-height: 1.1875;
  font-weight: 400;
}

.griglia-visualizza-articoli a {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  line-height: 1.5625;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

.griglia-visualizza-articoli a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}
